@font-face {
    font-family: Aire Exterior;
    font-display: swap;
    src: url("../fonts/Aire Exterior.woff2") format("woff2"), url("../fonts/Aire Exterior.woff") format("woff");
    font-weight: 400;
    font-style: normal
}
