.aside-wr {
    width: 320px;
    height: 100%;
    flex: 0 0 auto;
}

.aside {
    min-height: 100%;
    background-color: #1F2631;
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;

    &__in {
        padding-top: 200px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    &__nav {

        &_item {
            display: block;
            display: flex;
            justify-content: flex-start;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
                position: relative;
                display: flex;
                align-items: center;

                .icon {
                    display: block;
                    margin-right: 18px;

                    svg {
                        path {
                            fill: #DEDEDE;
                        }
                    }
                }
                .text {
                    display: block;

                }
            }
            
        }

        &_item.active {

            a {
                .icon {
                    svg {
                        path {
                            fill: #00C5FF;
                        }
                    }
                }
                .text {
                    color: #00C5FF;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .aside-wr {
        display: none;
    }

    .aside.active {
        transform: translateX(0);
    }
    .aside {
        z-index: 99;
        transform: translateX(-100%);
        @include def-anim;
    }
}

@media (max-width: 600px) {

    .aside {
        width: 100%;
    }
}