.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &__in {
        padding: 35px 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        align-items: center;
        
        flex: 0 0 auto;
    }

    &__right {
        flex: 0 0 auto;
        display: flex;
        align-items: center;

    }

    &__mid {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 23px;

        &_ic {
            margin-right: 15px;
        }

        &_text {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 24px;
            line-height: 23px;
            color: #57D6FF;
            font-family: Aire Exterior;
        }
    }

    &__search.active {
        background-color: rgba(196, 196, 196, 0.2);
        input {
            display: block;
        }
    }
    &__search {
        display: flex;
        background-color: #373E44;
        border-radius: 5px;
        @include def-anim;

        input {
            color: #fff;
            display: none;
            padding: 6px 15px;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            cursor: pointer;
        }
    }

    &__st {
        display: flex;
        align-items: center;

        &_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 50px;
            border-radius: 5px;
            font-weight: 800;
            font-size: 16px;
            line-height: 29px;
            color: #fff;
            margin: 0 7px;
            min-width: 208px;
        }

        &_btn.header__st_btn_start {
            background: linear-gradient(93.13deg, #527E8B -1.4%, #00C5FF 100%), #00C5FF;

        }

        &_btn.header__st_btn_down {
            border: 1px solid #FFFFFF;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    }

    &__ic {
        margin-right: 30px;
    }
}


@media (max-width: 1000px) {

    .header {

        &__in {
            flex-wrap: wrap;
        }

        &__left {
            order: 1;
            padding-left: 10px;
        }

        &__right {
            order: 2;
            padding-right: 10px;
        }

        &__mid {
            order: 3;
            width: 100%;

            flex-wrap: wrap;
            margin-top: 15px;
            padding: 0;


        }

        &__st {
            order: 2;
            width: 100%;
            flex-wrap: wrap;

            &_btn {
                width: 100%;
                margin-bottom: 8px;
                margin-right: 0;
                margin-left: 0;
            }
        }

        &__search {
            order: 1;
            // width: 100%;
            margin-bottom: 20px;
            width: 100%;
            input {
                display: block;
                flex: 1 0 auto;
            }

            button {
                padding: 13px;
            }
        }
    }
}