.list {

    &__in {
        padding: 30px 0;
    }

    &__tabs {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &_item.active {

            &:after {
                width: 100%;
            }
        }

        &_item {
            font-weight: 300;
            font-size: 21.33px;
            padding: 0 5px;
            line-height: 32px;
            margin-right: 60px;
            position: relative;
            padding-bottom: 7px;
            color: #fff;
            cursor: pointer;

            &:after {
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                height: 4px;
                width: 0;
                @include def-anim;
                background-color: #00C5FF;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__body {

        .cards.active {
            display: flex;
        }

        .cards {
            display: none;
        }
    }
}


@media (max-width: 650px) {

    .list {

        &__tabs {
            justify-content: space-between;
            
            &_item {
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                margin: 0;
            }
        }
    }
}