.lk__settings {
    padding: 20px 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        .name {
            font-weight: 300;
            font-size: 16px;
            line-height: 29px;
            width: 50%;
            text-align: right;
            margin-right: 40px;
        }

        .value {
            display: flex;
            align-items: center;
            width: 50%;
            margin-left: 40px;


            &__range {
                font-weight: 100;
                font-size: 12px;
                line-height: 14px;
            }

            &__range.value__range-start {
                margin-right: 10px;
            }

            &__range.value__range-end {
                margin-left: 10px;
            }

            &__slider_el {
                width: 100%;
                height: 6px;
                border: none;
                background: #1F2631;
                border-radius: 5px;
                box-shadow: none;
                max-width: 183px;

                .noUi-base {
                    height: 100%;
                }

                .noUi-handle {
                    width: 15px;
                    height: 15px;
                    top: calc(-7.5px / 2);
                    right: -7.5px;
                    border-radius: 100%;
                    box-shadow: none;
                    background-color: #57D6FF;
                    border: none;
                    // overflow: hidden;

                    &:after {
                        display: none;
                    }

                    &:before {
                        display: none;
                    }
                    
                    .noUi-tooltip {
                        background: none;
                        color: #fff;
                        border: none;
                    }
                }
            }


            &__item {
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                margin-right: 30px;
                opacity: .5;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }
            }

            &__item.active {
                font-weight: 700;   
                opacity: 1;
            }
        }
        
    }
}


@media (max-width: 1000px) {
    .lk__settings {
        padding: 20px 15px;
        align-items: flex-start;


        &_item {
            // width: auto;
            justify-content: flex-start;

            .name {
                text-align: left;
                width: 50%;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 520px) {

    .lk__settings {

        &_item {
            flex-wrap: wrap;

            .name {
                width: 100%;
                margin-bottom: 25px;
            }

            .value {
                margin-left: 0;
                width: 100%;

                
            }
        }
    }
}