.load.load-success {
    position: relative;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 185, 239, 0.1);
        filter: blur(250px);
        transform: matrix(-1, 0, 0, 1, 0, 0);
        content: '';
        z-index: -1;
    }
}

.load {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;

    &__body {

        &_panel {
            background-color: #1F2631;
            height: 590px;
            width: 470px;
            margin-bottom: 30px;

            display: flex;
            flex-direction: column;
            overflow: hidden;


            &_hero {
                height: 272px;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: flex-end;
            }
            &_name {
                position: relative;
                z-index: 3;
                padding: 15px 30px;
                font-weight: 400;
                font-size: 48px;
                line-height: 48px;
                color: #fff;
            }
            &_img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                img {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background: linear-gradient(0deg, #141C24 0%, rgba(20, 28, 36, 0) 98.78%);
                }
            }

            &_loading {
                width: 100%;
                height: 7px;
                margin: 0 auto;
                margin-top: -3.5px;
                position: relative;
                z-index: 4;
                overflow: hidden;
                display: flex;
                justify-content: flex-end;
                animation: loading 2s linear infinite;

                &_progress {
                    background-color: 
                    #00C5FF;
                    height: 100%;
                    // width: 100%;
                    animation: loading-in 2s linear infinite;
                    @keyframes loading-in {
                        0% {
                            width: 100%;
                        }
                        50% {
                            width: 30%;
                        }
                        100% {
                            width: 10%;
                        }
                    }
                }

                @keyframes loading {
                    0% {
                        transform: translateX(-100%);
                    }
                    50% {
                        transform: translateX(0%);
                    }
                    100% {
                        transform: translateX(100%);
                    }
                }
            }

            &_descr {
                flex: 1 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: #fff;

                &_info {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 29px;

                    &_value {
                        font-weight: 700;
                    }
                }

                &_name {
                    margin-bottom: 35px;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 48px;
                }
            }
        }

        &_action.load-end {
            justify-content: space-between;
        }

        &_action {
            justify-content: center;
            display: flex;

            &_btn {
                font-weight: 300;
                font-size: 16px;
                line-height: 180%;
                border-radius: 5px;
                color: #fff;
                @include def-anim;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            &_btn.load__body_action_btn_cancel {
                padding: 5px 60px;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #373E44;

                &:hover {
                    background-color: #0987AE;
                    border-color: transparent;
                }
                
                
            }

            &_btn.load__body_action_btn_start {
                width: 48%;
                padding: 5px;
                background-color: #0987AE;

                &:hover {
                    box-shadow: 0px 7px 50px 1px rgba(0, 185, 239, 0.25);
                }
                
            }   

            &_btn.load__body_action_btn_end {
                padding: 5p;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #373E44;
                width: 48%;

                &:hover {
                    background-color: #0987AE;
                    border-color: transparent;
                }
            }
        }
    }
}

@media (max-width: 500px) {

    .load {

        &__body {
            
            width: 100%;

            &_panel {
                width: 100%;
            }
        }
    }
}

